In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/home/abhishek/Desktop/IMF/data/raw/manual_labels/manually_default.csv")

In [5]:
df.head(20)

,Country,Manual Sovereign Default Label,Year of Default,Default Type
0,India,0,NaN,NaN
1,Russia,1,"1998, 2022","Partial (1998 Financial Crisis, 2022 Technical..."
2,China,0,NaN,NaN
3,South Africa,0,NaN,NaN
4,United States,0,NaN,NaN
5,United Kingdom,0,NaN,NaN
6,Italy,0,NaN,NaN
7,France,0,NaN,NaN
8,Germany,0,NaN,NaN
9,Sri Lanka,1,2022,Full Default (Missed Foreign Bond Payment)
10,Japan,0,NaN,NaN
11,Brazil,0,NaN,NaN
12,Bangladesh,0,NaN,NaN